<div class="nf-container">
    <div class="row cc">
        <div class="row c-row">
            <h1 class="my-font col title">404</h1>
        </div>
        <div class="row c-row">
            <h4 class="col">Sorry! We couldnt find what you were looking for.</h4>
        </div>
        <div class="row c-row">
            <h4 class="col">This would be the time you probably give up hope & panic.</h4>
        </div>
        <div class="row c-row cc">
            <img src="~/images/hang_in_there.jpg" alt="hang in there" class="poster" />
        </div>
    </div>
</div>

<style>
    .nf-container {
        margin: 100px auto 100px;
	    max-width: 1300px;
    }
    .title {
        font-size: 8rem;
    }
    .poster {
        height: 400px;
        overflow: hidden;
        object-fit: cover;
        object-position: center;
        width: 275px;
        margin: 25px;
    }
    .c-row {
        width: 100%;
        text-align: center;
    }
</style>
