@{
    ViewData["Title"] = "User Page";
    @model PersonalBlog.Web.ViewModels.BlogPostsViewModel

}

<div class="container">
    <div class="row">
        <h1 class="my-font">Sign In/Register</h1>
    </div>
</div>