@{
    ViewData["Title"] = "Home Page";
}
<div class="row hero">
    @*Hero Image Container*@
</div>

<div class="row">
    <div class="col-4 card-col">
        <div class="card">
            <h3 class="my-font">Drums</h3>
        </div>
    </div>
    <div class="col-4 card-col">
        <div class="card">
            <h3 class="my-font">Guitar</h3>
        </div>
    </div>
    <div class="col-4 card-col">
        <div class="card">
            <h3 class="my-font">Engineering</h3>
        </div>
    </div>
</div>