@{
    ViewData["Title"] = "Home Page";
}
<div class="row hero">
    @*Hero Image Container*@
</div>

<div class="row">
    <div class="col-4 card-col">
        <a class="card-link" asp-controller="Drums" asp-action="Index">
            <div class="card">
                <h3 class="my-font">Drums</h3>
            </div>
        </a>
    </div>
    <div class="col-4 card-col">
        <a class="card-link" asp-controller="Guitar" asp-action="Index">
            <div class="card">
                <h3 class="my-font">Guitar</h3>
            </div>
        </a>
    </div>
    <div class="col-4 card-col">
        <a class="card-link" asp-controller="Engineering" asp-action="Index">
            <div class="card">
                <h3 class="my-font">Engineering</h3>
            </div>
        </a>
    </div>
</div>